{{#link-to 'new-business'}}Add a New Business{{/link-to}}

{{outlet}}

<h3>Here are all the businesses:</h3>

<ul class="unstyled-list">
  {{#each business in model}}
    <li>
      <p>Name: {{business.name}}</p>
      <p>Address: {{business.address}}</p>
      <p>Phone Number: {{business.phone}}</p>
      <p>Description: {{business.description}}</p>
    </li>
  {{/each}}
</ul>
