<h1>{{model.name}}</h1>


<h3>Here is the info on this business:</h3>


<div class="well">
      <p><span class="bold">Name: </span> {{model.name}}</p>
      <p><span class="bold">Address: </span> {{model.address}}</p>
      <p><span class="bold">Phone Number: </span>{{model.phone}}</p>
      <p><span class="bold">Description: </span> {{model.description}}</p>
</div>
